<div class="document-container">
<div style="height: 26px"></div>
<div class="card shadow-sm">
  <div class="card-header bg-transparent border-0">
    <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Administrative informations</h3>
  </div>
  <div class="card-body ">
    <div class="d-grid">
      <button mat-raised-button color="accent" class="mb-1" (click)="onGradeBulletinsClick()" >
        <mat-icon> grading</mat-icon> Grade bulletins
      </button>

    </div>
  </div>
</div>

<div style="height: 26px"></div>
<div class="card shadow-sm">
  <div class="card-header bg-transparent border-0">
    <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Administrative informations</h3>
  </div>
  <div class="card-body ">
    <div class="d-grid">
      <button mat-raised-button color="accent" (click)="onAchievmentCertificateClick()">
        <mat-icon> text_snippet</mat-icon> Achievement certificates
      </button>

    </div>
  </div>
</div>


  <div style="height: 26px"></div>
  <div class="card shadow-sm">
    <div class="card-header bg-transparent border-0">
      <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Administrative informations</h3>
    </div>
    <div class="card-body ">
      <div class="d-grid">
        <button mat-raised-button color="accent" (click)="onAchievmentCertificateClick()">
          <mat-icon> text_snippet</mat-icon> Achievement certificates
        </button>

      </div>
    </div>
  </div>


  <div style="height: 26px"></div>
  <div class="card shadow-sm">
    <div class="card-header bg-transparent border-0">
      <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Administrative informations</h3>
    </div>
    <div class="card-body ">
      <div class="d-grid">
        <button mat-raised-button color="accent" (click)="onAchievmentCertificateClick()">
          <mat-icon> text_snippet</mat-icon> Achievement certificates
        </button>

      </div>
    </div>
  </div>


  <div style="height: 26px"></div>
  <div class="card shadow-sm">
    <div class="card-header bg-transparent border-0">
      <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Administrative informations</h3>
    </div>
    <div class="card-body ">
      <div class="d-grid">
        <button mat-raised-button color="accent" (click)="onAchievmentCertificateClick()">
          <mat-icon> text_snippet</mat-icon> Achievement certificates
        </button>

      </div>
    </div>
  </div>



  <div style="height: 26px"></div>
  <div class="card shadow-sm">
    <div class="card-header bg-transparent border-0">
      <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Administrative informations</h3>
    </div>
    <div class="card-body ">
      <div class="d-grid">
        <button mat-raised-button color="accent" (click)="onAchievmentCertificateClick()">
          <mat-icon> text_snippet</mat-icon> Achievement certificates
        </button>

      </div>
    </div>
  </div>


  <div style="height: 26px"></div>
  <div class="card shadow-sm">
    <div class="card-header bg-transparent border-0">
      <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Administrative informations</h3>
    </div>
    <div class="card-body ">
      <div class="d-grid">
        <button mat-raised-button color="accent" (click)="onAchievmentCertificateClick()">
          <mat-icon> text_snippet</mat-icon> Achievement certificates
        </button>

      </div>
    </div>
  </div>

  <div style="height: 26px"></div>
  <div class="card shadow-sm">
    <div class="card-header bg-transparent border-0">
      <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Administrative informations</h3>
    </div>
    <div class="card-body ">
      <div class="d-grid">
        <button mat-raised-button color="accent" (click)="onAchievmentCertificateClick()">
          <mat-icon> text_snippet</mat-icon> Achievement certificates
        </button>

      </div>
    </div>
  </div>
</div>
