body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #000;
}

.student-profile .card {

  border-radius: 10px;

}

.col-md-8 card shadow px-3 py-3 .card .card-header .profile_img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 10px auto;
  border: 10px solid #ccc;
  border-radius: 50%;
}

.profile_img{
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 10px auto;
  border: 10px solid #ccc;
  border-radius: 50%;
}

h3 {
  font-size: 20px;
  font-weight: 700;
}

.p {
  font-size: 16px;
  color: #000;
}




