<div class = "row justify-content-center">

  <div class="col-md-6 card shadow px-3 py-3">


              <div class="card-header bg-transparent text-center">
                <img class="profile_img" src="https://source.unsplash.com/600x300/?student" alt="student dp">
                <h3> {{currentUser.username}} </h3>
              </div>
              <div class="card-body">

                <p class="mb-1"><strong class="pr-1">Email: </strong>{{currentUser.email}}</p>
                <p class="mb-1"><strong class="pr-1">Role: </strong>Academy</p>


              </div>


  </div>

</div>



