


<div mat-dialog-title class="dialog-title">
  <h2 mat-dialog-title> {{title}}</h2>
<button type="button" class="btn-close" aria-label="Close" mat-dialog-close></button>
</div>

<mat-dialog-content>


  <div class="row rows me-0 ms-0" *ngFor="let file of files">
    <span class="fw-bold col">{{file.file_description}}</span>
    <div class="col">
        <button mat-icon-button color="primary" matTooltip="View" (click)="view(file)"><mat-icon>
          remove_red_eye
        </mat-icon></button>
        <button mat-icon-button color="primary" matTooltip="Download" (click)="download(file)"> <mat-icon>
          file_download
        </mat-icon></button>
    </div>

  </div>


    <h4 *ngIf="!files?.length">No records found</h4>
</mat-dialog-content>
