<div class="row align-items-center">
  <div class="search-div col" *ngIf="searchable">

    <mat-form-field class="search-form-field" floatLabel="never">
      <mat-icon matSuffix *ngIf="!searchKey">search</mat-icon>
      <input matInput [(ngModel)]="searchKey" placeholder="Search" (keyup)="applyFilter()">
      <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchKey()">
        <mat-icon> close </mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="col">
  <ng-content select="[filters]">

  </ng-content>
</div>
</div>
<mat-table
  matSort [dataSource]="displayedRows" multiTemplateDataRows (matSortChange)="sortData($event)"
  class="alternate-row green-header">


  <ng-container matColumnDef="{{column.name}}" *ngFor="let column of displayedColumns">
    <mat-header-cell mat-sort-header  *matHeaderCellDef  [class]="calculateClass(column.headerClass, row)">
      {{column.label}}
    </mat-header-cell>
    <mat-cell *matCellDef="let row"  [class]="calculateClass(column.class, row)">
      <span class="mobile mobile-label">{{column.label}}</span>
      <ng-container *ngIf="column.type !== 'template'" >
        <div class="column-content">
          <mat-icon *ngIf="column.type === 'icon'; else textType">
            {{getValue(row, column)}}
          </mat-icon>
        </div>
        <ng-template #textType>
          <div class="ellipsis column-content">
          {{getValue(row, column)}}
          </div>
        </ng-template>
      </ng-container>
      <ng-container *ngIf="column.type === 'template'" [ngTemplateOutlet]="columnTemplate"
        [ngTemplateOutletContext]="{$implicit: column,row:row}"></ng-container>


    </mat-cell>


  </ng-container>




  <mat-header-row mat-header-row *matHeaderRowDef="columnNames; sticky: true"></mat-header-row>
  <mat-row mat-row *matRowDef="let row; columns: columnNames;"></mat-row>
</mat-table>

<mat-paginator #paginator [pageSizeOptions]="[10, 25,50, 100]" aria-label="Select page">
</mat-paginator>

<div *ngIf="!displayedRows.data.length && !loading" class="py-3 text-center h4 bg-white mb-0 border-bottom">
  No records found
</div>

<mat-spinner *ngIf="loading" class="m-auto"></mat-spinner>
