<div class="student-profile py-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mb-3">
        <div class="card shadow-sm">
          <div class="card-header bg-transparent text-center">
            <img class="profile_img" src="https://source.unsplash.com/600x300/?student" alt="student dp">
            <h3>{{studentDetails?.first_name}} {{studentDetails?.last_name}}</h3>
          </div>
          <div class="card-body">
            <p class="mb-0"><strong class="pr-1">Class: </strong>{{studentDetails?.level}}</p>
            <p class="mb-0"><strong class="pr-1">Campus: </strong>{{studentDetails?.campus_name}}</p>
            <p class="mb-0" *ngIf="studentDetails?.has_speciality"><strong class="pr-1">Speciality: </strong>{{studentDetails?.speciality_name}}</p>
            <p class="mb-0" *ngIf="studentDetails?.has_contrat_pro"><strong class="pr-1">Contrat pro: </strong>{{studentDetails?.cp_company_name}} </p>
            <p class="mb-0" *ngIf="studentDetails?.is_hired"><strong class="pr-1">Embauché chez: </strong>{{studentDetails?.h_company_hired}} </p>

          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card shadow-sm">
          <div class="card-header bg-transparent border-0">
            <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Informations Generales</h3>
          </div>
          <div class="card-body pt-0">
            <div class="table">
              <tr class="d-flex">
                <th width="30%">Année Academique</th>
                <td width="2%">:</td>
                <td>{{studentDetails?.year_of_entry}} - {{studentDetails?.year_of_exit}}</td>
              </tr>
              <tr class="d-flex">
                <th width="30%">Adresse</th>
                <td width="2%">:</td>
                <td>{{studentDetails?.adress}}</td>
              </tr>
              <tr class="d-flex">
                <th width="30%">Email</th>
                <td width="2%">:</td>
                <td>{{studentDetails?.email}}</td>
              </tr>
            </div>
          </div>
        </div>
        <div style="height: 26px"></div>
        <div class="card shadow-sm">
          <div class="card-header bg-transparent border-0">
            <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Autres Informations</h3>
          </div>
          <div class="card-body pt-0">
            <p class="mb-0"><strong class="pr-1">Contrat pro:</strong><span *ngIf="studentDetails?.has_contrat_pro"> Oui</span> <span *ngIf="!studentDetails?.has_contrat_pro"> Non</span> </p>
            <p class="mb-0"><strong class="pr-1">Embauché:</strong><span *ngIf="studentDetails?.is_hired"> Oui</span> <span *ngIf="!studentDetails?.is_hired"> Non</span> </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
