<div class="container">
  <h1 class="text-center">Welcome to the new Canvas platform !</h1>
  <div class="custom">
  <mat-card  class="custom-item"  [routerLink]="['students']" >
    <mat-card-header>
    <mat-card-title class="card-title"> Students </mat-card-title>
    <mat-icon>school</mat-icon>
  </mat-card-header>
  </mat-card>
  <mat-card  class="custom-item"  [routerLink]="['contributors']">
    <mat-card-header>
    <mat-card-title class="card-title">Contributors</mat-card-title>
    <mat-icon>supervisor_account</mat-icon>
  </mat-card-header>
  </mat-card>
  <mat-card  class="custom-item" [routerLink]="['modules']" >
    <mat-card-header>
    <mat-card-title class="card-title">Modules</mat-card-title>
    <mat-icon>library_books</mat-icon>
  </mat-card-header>
  </mat-card>
  <mat-card  class="custom-item" [routerLink]="['partnerships']" >
    <mat-card-header>
    <mat-card-title class="card-title">Partnerships</mat-card-title>
    <mat-icon>handshake</mat-icon>
    </mat-card-header>
  </mat-card>
  <mat-card  class="custom-item" [routerLink]="['user-profile']" >
    <mat-card-header>
    <mat-card-title class="card-title">Profile</mat-card-title>
    <mat-icon>person</mat-icon>
  </mat-card-header>
  </mat-card>
</div>
</div>
