<mat-sidenav-container autosize>

  <mat-sidenav #sidenav mode="side" opened="true">

    <mat-nav-list>


      <mat-list-item (click)="isExpanded = !isExpanded">
        <mat-icon mat-list-icon class="chevron-button" [ngClass]="{ rotated: isExpanded }">chevron_right
        </mat-icon>
      </mat-list-item>
      <div *ngIf="isExpanded" class="user-profile">
        <img class="avatar mat-elevation-z8" src="../../../../assets//img//lamine.png" />
        <h4  class="name">{{firstName | uppercase}} {{lastName | uppercase}}</h4>
        <p class="designation">Etudiant</p>
      </div>


      <mat-divider></mat-divider>
      <mat-list-item routerLink="">
        <mat-icon>dashboard</mat-icon>
        <span *ngIf="isExpanded" class="menu-item">Dashboard</span>
      </mat-list-item>

      <mat-list-item routerLink="">
        <mat-icon>person</mat-icon>
        <span *ngIf="isExpanded" class="menu-item">Profile</span>
      </mat-list-item>

      <mat-list-item routerLink="">
        <mat-icon>calendar_today</mat-icon>
        <span *ngIf="isExpanded" class="menu-item">Calendar</span>
      </mat-list-item>

      <mat-list-item routerLink="">
        <mat-icon>book</mat-icon>
        <span *ngIf="isExpanded" class="menu-item">Courses</span>
      </mat-list-item>

      <mat-list-item routerLink="">
        <mat-icon>inbox</mat-icon>
        <span *ngIf="isExpanded" class="menu-item">Inbox</span>
      </mat-list-item>

      <mat-list-item routerLink="">
        <mat-icon>info</mat-icon>
        <span *ngIf="isExpanded" class="menu-item">Infos</span>
      </mat-list-item>

      <button mat-button class="menu-button" routerLink="/profile">
        <mat-icon>exit_to_app</mat-icon>
        <span *ngIf="isExpanded"  class="material-icon-outlined menu-item" href="#" (click)="logout()">Logout</span>
      </button>

    </mat-nav-list>
  </mat-sidenav>

  <!-- Content -->
  <mat-sidenav-content>
<app-student-nav></app-student-nav>
<div class="main-contrainer">
  <router-outlet></router-outlet>
</div>

  </mat-sidenav-content>


