<ng-container *ngIf="currentUser.userId">
  <mat-sidenav-container autosize>
    <mat-sidenav #sidenav mode="side" opened="true">
      <mat-nav-list>

        <mat-list-item (click)="isExpanded = !isExpanded">
          <mat-icon mat-list-icon class="chevron-button" [ngClass]="{ rotated: isExpanded }">chevron_right
          </mat-icon>
        </mat-list-item>

        <mat-divider></mat-divider>


        <ng-container *ngIf="currentUser?.role == roles.Academy">

          <mat-list-item routerLink="{{currentUser?.route}}" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
            <mat-icon>dashboard</mat-icon>
            <span *ngIf="isExpanded" class="menu-item">Dashboard</span>
          </mat-list-item>

          <mat-list-item routerLink="{{currentUser?.route}}/students" routerLinkActive="active-link">
            <mat-icon>school</mat-icon>
            <span *ngIf="isExpanded" class="menu-item">Students</span>
          </mat-list-item>

          <mat-list-item routerLink="{{currentUser?.route}}/contributors" routerLinkActive="active-link">
            <mat-icon>supervisor_account</mat-icon>
            <span *ngIf="isExpanded" class="menu-item">Contributors</span>
          </mat-list-item>

          <mat-list-item routerLink="{{currentUser?.route}}/modules" routerLinkActive="active-link">
            <mat-icon>library_books</mat-icon>
            <span *ngIf="isExpanded" class="menu-item">Modules</span>
          </mat-list-item>

          <mat-list-item routerLink="{{currentUser?.route}}/partnerships" routerLinkActive="active-link">
            <mat-icon>handshake</mat-icon>
            <span *ngIf="isExpanded" class="menu-item">Partnerships</span>
          </mat-list-item>

        </ng-container>

        <ng-container *ngIf="currentUser?.role == roles.Pedagogy">

          <mat-list-item routerLink="canvas/pedagogy/dashboard" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
            <mat-icon>dashboard</mat-icon>
            <span *ngIf="isExpanded" class="menu-item">Dashboard</span>
          </mat-list-item>

          <mat-list-item routerLink="canvas/pedagogy/dashboard/students" routerLinkActive="active-link">
            <mat-icon>school</mat-icon>
            <span *ngIf="isExpanded" class="menu-item">Students</span>
          </mat-list-item>

          <mat-list-item routerLink="canvas/pedagogy/dashboard/notes" routerLinkActive="active-link">
            <mat-icon>assignment</mat-icon>
            <span *ngIf="isExpanded" class="menu-item">Notes</span>
          </mat-list-item>

          <mat-list-item routerLink="canvas/pedagogy/dashboard/contributors" routerLinkActive="active-link">
            <mat-icon>supervisor_account</mat-icon>
            <span *ngIf="isExpanded" class="menu-item">Contributors</span>
          </mat-list-item>

          <mat-list-item routerLink="canvas/pedagogy/dashboard/modules" routerLinkActive="active-link">
            <mat-icon>library_books</mat-icon>
            <span *ngIf="isExpanded" class="menu-item">Modules</span>
          </mat-list-item>

          <mat-list-item routerLink="canvas/pedagogy/dashboard/calendar" routerLinkActive="active-link">
            <mat-icon>calendar_today</mat-icon>
            <span *ngIf="isExpanded" class="menu-item">Calendar</span>
          </mat-list-item>

          <mat-list-item routerLink="canvas/pedagogy/dashboard/internship" routerLinkActive="active-link">
            <mat-icon>business icon</mat-icon>
            <span *ngIf="isExpanded" class="menu-item">Internship</span>
          </mat-list-item>

        </ng-container>



        <ng-container *ngIf="currentUser?.role == roles.Admin">

        </ng-container>


        <ng-container *ngIf="currentUser?.role == roles.Teacher">

        </ng-container>


        <ng-container *ngIf="currentUser?.role == roles.Student">

          <mat-list-item routerLink="">
            <mat-icon>dashboard</mat-icon>
            <span *ngIf="isExpanded" class="menu-item">Dashboard</span>
          </mat-list-item>

          <mat-list-item routerLink="{{currentUser?.route}}/calendar">
            <mat-icon>calendar_today</mat-icon>
            <span *ngIf="isExpanded" class="menu-item">Calendar</span>
          </mat-list-item>

          <mat-list-item routerLink="{{currentUser?.route}}/courses">
            <mat-icon>book</mat-icon>
            <span *ngIf="isExpanded" class="menu-item">Courses</span>
          </mat-list-item>

          <mat-list-item routerLink="">
            <mat-icon>inbox</mat-icon>
            <span *ngIf="isExpanded" class="menu-item">Inbox</span>
          </mat-list-item>

          <mat-list-item routerLink="">
            <mat-icon>info</mat-icon>
            <span *ngIf="isExpanded" class="menu-item">Infos</span>
          </mat-list-item>
        </ng-container>



        <mat-list-item routerLink="{{currentUser?.route}}/user-profile">
          <mat-icon>person</mat-icon>
          <span *ngIf="isExpanded" class="menu-item">Profile</span>
        </mat-list-item>


        <button mat-button class="menu-button" (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span *ngIf="isExpanded" class="material-icon-outlined menu-item">Logout</span>
        </button>
      </mat-nav-list>
    </mat-sidenav>

    <!-- Content -->
    <mat-sidenav-content>
      <app-navbar></app-navbar>
      <div class="main-contrainer">
        <router-outlet></router-outlet>
      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
