<div class="modal-header">
    <button type="button" class="btn-close" aria-label="Close" mat-dialog-close></button>
  </div>
  
  
  
  <div class="modal-body">
  
    <tr class="d-flex">
      <th width="30%">Number of resits</th>
      <td width="2%">:</td>
      <td>{{studentDetails?.nb_resit}}</td>
    </tr>
  
    <tr class="d-flex">
      <th width="30%">Modules of resit </th>
      <td width="2%">:</td>
    </tr>
    <div class="card-body pt-0">
      <div class="table">
        <tr class="d-flex" *ngFor="let resit of resits">
          <th width="30%">{{resit.module_name}}</th>
          <td>{{resit.resit_date | date:'dd/MM/yyyy'}}</td>
        </tr>
      </div>
    </div>
  
  </div>
  