<h1 mat-dialog-title>Filters</h1>

<mat-dialog-content>

  <p>
    <mat-form-field class="m-1">
      <mat-label>Admission</mat-label>
      <mat-select [(ngModel)]="admissionFilter">
        <mat-option selected [value]="admissionFilterEnum.All">All</mat-option>
        <mat-option [value]="admissionFilterEnum.Resit">Resit</mat-option>
        <mat-option [value]="admissionFilterEnum.Graduation">Graduation</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="m-1">
      <mat-label>Status</mat-label>
      <mat-select [(ngModel)]="statusFilter">
        <mat-option selected [value]="statusFilterEnum.All">All</mat-option>
        <mat-option [value]="statusFilterEnum.StillStudents">Still students</mat-option>
        <mat-option [value]="statusFilterEnum.OldStudents">Old students</mat-option>
      </mat-select>
    </mat-form-field>
  </p>


    <p>
    <mat-checkbox [(ngModel)]="contratProFilter" class="m-1">Contrat pro</mat-checkbox>
    <mat-checkbox [(ngModel)]="hiredFilter" class="m-1">Hired</mat-checkbox>
    </p>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button class="mat-raised-button mat-primary" (click)="applyFilter()">Apply</button>
</mat-dialog-actions>

</mat-dialog-content>
