.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}


.credits-ects {
  display: block;
}

.mat-h1 {
  margin-left: 15px;
}

.mat-card-content {
  height: 90%;
}

.dashboard-img {
  border-radius: 3px;
  padding: 21px;
  margin-top: -53px !important;
  float: left;
  height: 100px;
  margin-left: -2em;

}
.loading-spinner {
  position: absolute;
  top: 50%;
  bottom: 50%;
  right: 50%;
  left: 50%;
}
.more-button{
  color: #ffd740
}
.mat-card-title{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.mat-card-header .mat-card-title {
   margin-bottom: 3px;
}
.dash-date{
  font-size:large ;
  font-weight: bold;
}
