<div class="modal-header">
    <h1>{{title}}</h1>
    <button type="button" class="btn-close" aria-label="Close" mat-dialog-close></button>
  </div>
  
  
  <div class="modal-body">
    <div class="card-body pt-0">
      <div class="table">
        <tr class="d-flex" *ngFor="let file of files">
          <th width="30%">{{file.file_description}}</th>
          <td> <button mat-button color="primary"> View</button>
            <button mat-button color="primary"> Download</button>
          </td>
        </tr>
  
        <tr *ngIf="!files?.length">
  
          <td>
            <h4>No records found</h4>
          </td>
        </tr>
      </div>
    </div>
  </div>
  