<app-d-table
[rows]="displayedRows"
[columnsDefinition]="displayedColumns"
[loading] = "loading"
[searchable]="true">

<div filters>
  <section>
    <mat-checkbox  [(ngModel)]="filterContratPro" class="m-1" (change)="onFilterContratProChange()">Contrat pro</mat-checkbox>
    <mat-checkbox  [(ngModel)]="filterHired" class="m-1" (change)="onFilterHiredChange()">Hired</mat-checkbox>
  </section>
</div>
<ng-template #columnTemplate let-column let-row="row">
  <ng-container *ngIf="column.name == 'details'">
    <button mat-button color="primary"  [routerLink]="['student-details', row.id_student]">Afficher les détails</button>
  </ng-container>
</ng-template>
</app-d-table>


