<div class="container">
  <h1>Users</h1>
  <app-d-table
  [rows]="displayedRows"
  [columnsDefinition]="displayedColumns"
  [loading] = "loading"
  [searchable]="true">

  <!--<div filters>
    <mat-form-field>
      <mat-label>Role</mat-label>
      <mat-select [(ngModel)]="roleFilter" (selectionChange)="onRoleFilterChanged()">
        <mat-option selected [value]="null">All</mat-option>
        <mat-option *ngFor="let rolFltr of roleFilterValues"  [value]="rolFltr" >{{rolFltr.type}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>-->

  <ng-template #columnTemplate let-column let-row="row">
    <ng-container *ngIf="column.name == 'activation'">

      <mat-slide-toggle [checked]="row.isActive" color="primary" (change)="editActivationUser(row.userId,$event.source.checked)"></mat-slide-toggle>
    </ng-container>
  </ng-template>

  </app-d-table>
  </div>
