/* You can add global styles to this file, and also import other style files */

@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.user_account {
  margin-left: auto !important;
  margin-right: 0 !important;
}
.user_email {
  font-size: 9px;
}

.cal-events {
  display: none !important;
}


