<div class="container">
    <h1 class="text-center">Welcome to the new Canvas platform !</h1>
    <div class="custom">
    <mat-card  class="custom-item"  [routerLink]="['students']" >
      <mat-card-header>
      <mat-card-title class="card-title"> Students </mat-card-title>
      <mat-icon>school</mat-icon>
    </mat-card-header>
    </mat-card>
    <mat-card  class="custom-item"  [routerLink]="['notes']" >
      <mat-card-header>
      <mat-card-title class="card-title"> Students notes </mat-card-title>
      <mat-icon>assignment</mat-icon>
    </mat-card-header>
    </mat-card>
    <mat-card  class="custom-item"  [routerLink]="['contributors']">
      <mat-card-header>
      <mat-card-title class="card-title">Contributors</mat-card-title>
      <mat-icon>supervisor_account</mat-icon>
    </mat-card-header>
    </mat-card>
    <mat-card  class="custom-item" [routerLink]="['modules']" >
      <mat-card-header>
      <mat-card-title class="card-title">Modules</mat-card-title>
      <mat-icon>library_books</mat-icon>
    </mat-card-header>
    </mat-card>
    <mat-card  class="custom-item" [routerLink]="['calendar']" >
      <mat-card-header>
      <mat-card-title class="card-title">Calendar</mat-card-title>
      <mat-icon>calendar_today</mat-icon>
      </mat-card-header>
    </mat-card>
    <mat-card  class="custom-item" [routerLink]="['mailing']" >
      <mat-card-header>
      <mat-card-title class="card-title">Mailing</mat-card-title>
      <mat-icon>email icon</mat-icon>
    </mat-card-header>
    </mat-card>
  </div>
  </div>
  